header{
    height: 100px;
    background-color: black;
}
*{
margin: 0;
padding: 0;
}
.menu{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}
a{
    text-decoration: 0;
    color:rgb(255, 255, 255) ;
    padding-left: 200px ;
    margin-top: 40px;
    font-size: 35px;
}
.img_logo{
    height: 120px;
    position: absolute;
    margin-left: 3%;
    margin-top: 20px;
    transition: 0.2s;
}
.img_logo:hover{
    transform: scale(110%);
    
}
.video_1{
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
   
}

.conent_header{
    position: absolute;
    color: white;
    margin-top: 10%;
    z-index: 4;
}
.header_h1{
    font-size: 80px;
    width: 150px;
    margin-left: 50px;
    font-weight: 900;
}       



.header_p{  
        width: 500px; 
      font-size: 20px;
      margin-left: 50px;
      
}

.button_header{
    background-color: #ff9d40;
    width: 200px;  
    height: 50px;
    color: white;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    border: 0;
    transition: 0.5s;
}
.button_header:hover{
    background-color: #ff9c409d;
    cursor: pointer;
  
}
.img_logo{
    z-index: 4;
}
@font-face {
    font-family:1px ;
    src: url();
}
.p_prime{
    background-color: #f87c08;
    padding: 10px;
    margin-top: -10px;

}
.text_pc{
    color: #f87c08;
}
.news{
    margin-top: -10px;
    height: 1200px;
    background-color: black;
}
.new1{
    width:220px ;
    height:50px ;
    background-color: #f87c08;
    color:aliceblue;
    font-size: 30px;
    text-align: center;
    margin-left: 15%;
    padding-top: 10px;
    position: absolute;
    margin-top: -30px;
    z-index: 4;

}
.img_cs{
    width: 1500px;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
}
.img_cs:hover{
    transform: scale(105%);
    transition: 0.5s;
}
.new3{
    width: 1000px;
    height: 400px;
    background-color: rgb(78, 78, 78);
    color:white;
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: -100px;
}
.new3 h1{
font-size: 50px;
font-weight: 900;
margin-top: 80px;
}
.new3 p{
    font-size: 25px;
    font-weight: 900;
    margin-top: 80px;
    }
    .new3 button{
        font-size: 25px;
        font-weight: 900;
        margin-top: 50px;
    }
    .bg{
        text-align: center;
        font-size: 50px;
        padding-top: 50px;
        margin-bottom: 50px;
        color: white;
        
    }
    .wriper_bg{
        background-color: black;
        height: 1500px;
    }
    .bg2{
        background-image: url("./img/1.jpg");
        width: 100%;
        height: 800px;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    .bg3{
        background-color: black;
        height: 150px;
        
    }
    .bg4{
        background-image: url("./img/2.jpg");
        width: 100%;
        height: 800px;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    .center{
        text-align: center;
        background-color: black;
        color: white;
        height: 200px;
        margin-top: -5px;
    }

    .img_logo2{
        height: 120px;
        position: absolute;
        margin-left: 3%;
        margin-top: 1px;
        transition: 0.2s;
    }
    .img_logo2:hover{
        transform: scale(110%);
        
    }
    .img_logo2{
        z-index: 4;
    }
    .menu2{
        display: flex;
        justify-content: flex-end;
        margin-right: 5%;
       
    }
    .menu123{
        margin-top: 400px;
    }